{% extends 'core/base.html' %}


{% block main %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="card-title mb-4 text-center">Password Reset</h3>

                    <form method="POST" novalidate>
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email"
                                required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Send Mail</button>
                    </form>

                    <p class="text-center mt-3 mb-0">
                        Don't have an account? <a href="{% url 'user_registration' %}">Register here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}